
body {
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:center; 
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  text-align: center;
background-size: 100% 100%;
}

.header {
    text-align: center;
}

html {
    height: 100%
}

h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
    text-align: center
}

h1 {
    font-size: 3.5rem !important;
}

.info-card {    
      background-color: rgba(247, 247, 247, 0.2) !important;
}

.info-card:hover{
    background-color: rgba(247, 247, 247, 0.4) !important;
}

.btn-fix {
    padding: 2px;
    border: none;
    white-space: normal;
}

*:focus {
    outline-color: limegreen !important
}

#particles-js{
     position:absolute; width: 100%;
     height: 100%; 
     background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
     background-repeat: no-repeat;
      background-size: cover;
       background-position: 50% 50%;
}
