
body {
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:center; 
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  text-align: center;
background-size: 100% 100%;
}

.header {
    text-align: center;
}

html {
    height: 100%
}

h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

.info-card {    
      background-color: rgba(247, 247, 247, 0.4) !important;
}


@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}


.module {
    position: relative;
  }


  module.animated {
    -webkit-animation: filter-animation 5s infinite;
  }


.module::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
    filter: grayscale(100%);
  }
  .module-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }
