body {
    background-image: url(backgrounds/two.png);
    background-color: #282828;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    font-family: "Courier New";
    color: white;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.invisible_textbox {
    width: 60%;
    font-family: "Courier New";
    border: none;
    background: transparent;
    color: white;
    outline-width: 0;
}

.invisible_button {
    font-family: "Courier New";
    border: none;
    background: transparent;
    color: limegreen;
    outline-width: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    word-wrap: break-word;
    white-space: normal;
}

.inline-label {
    display: inline-block;
}

.label {
    height: 1em;
}

#bg {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -99999;
}

.stretch {
    width:100%;
    height:100%;
}

#navbar {
    margin: 0;
    padding: 0;
    background-color: #545454;
    height: 1.5em;
    
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;  
    
    font-family: "Verdana";
    font-size: 0.875em;
}

#main {
    margin: 0.5em;
}

#red_circle {
    background-color: #f96256;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    left: -47%;
    position: inline-block;
}

#yellow_circle {
    background-color: #fdbc3d;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    left: -44%;
    position:relative;
    display: block;
}

#green_circle {
    background-color: #33c948;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    left: -41%;
    position:relative;
    display: block;
}

.buttons {
    float: left;
}

.button_pic {
    height: 0.875em;
    margin-left: 0.5em;
}



