body {
    background-image: url(backgrounds/two.png);
    background-color: #282828;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    font-family: "Courier New";
    color: white;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.invisible_textbox {
    width: 60%;
    font-family: "Courier New";
    border: none;
    font-size: 1em;
    background: transparent;
    color: white;
    outline-width: 0;
}

.invisible_button {
    font-family: "Courier New";
    border: none;
    font-size: 1em;
    background: transparent;
    color: limegreen;
    outline-width: 0;
    margin: 0;
    padding: 0;
}

.inline-label {
    display: inline-block;
}

.label {
    font-size: 1em;
}

#bg {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -99999;
}

.stretch {
    width:100%;
    height:100%;
}

#navbar {
    margin: 0;
    padding: 0;
    background-color: #545454;
    height: 1.5em;
    
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;  
    
    font-family: "Verdana";
    font-size: 0.875em;
}

#main {
    margin: 0.5em;
}